.*.swp
*~
*.tmp
*.dep
*.rej
*.orig
.nfs*
*.DS_Store
*deb
*tar.gz
.vscode
core
fstatex

# Prerequisites
*.d

# Object files
*.o

# Linker output
*.map

# Precompiled Headers
*.gch
*.pch

# Libraries
*.a

# Shared objects (inc. Windows DLLs)
*.so
*.so.*

# Executables
*.out
